"files.exclude": {
    "**/.git": true,
    "**/.DS_Store": true,
    "**/*.meta": true,
    "**/*.*.meta": true,
    "**/*.unity": true,
    "**/*.unityproj": true,
    "**/*.mat": true,
    "**/*.fbx": true,
    "**/*.FBX": true,
    "**/*.tga": true,
    "**/*.cubemap": true,
    "**/*.prefab": true,
    "**/Library": true,
    "**/ProjectSettings": true,
    "**/Temp": true
  }

time-arena-game/MonoBleedingEdge
time-arena-game/time-arena_Data
time-arena-game/UserSettings
time-arena-game/time-arena.exe
time-arena-game/UnityCrashHandler64.exe
time-arena-game/UnityPlayer.dll
time-arena-game/UserSettings/EditorUserSettings.asset
